/*------------------------------------*\
    NAVIGATION
\*------------------------------------*/
nav {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding:24px 0;
    ul {
        list-style-type: none;
        padding:0;
        margin:0;
        li {
            a {
                font-family: 'proxima_nova_rgregular', sans-serif;
                text-decoration: none;
                font-weight: 700;
                color: #bec3cc;
                padding: 0 10px 16px;
                text-transform: uppercase;
                font-size: 0.800em;
                &:hover,
                &:focus, 
                &:active,
                &.active {
                    outline:0;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                    border-bottom: solid 4px @ssGreen;
                    text-decoration: none;
                    padding-bottom: 14px;
                    color:white;
                }
            }

            float: left;
            padding: 0 20px;
            letter-spacing: 2px;
            &:first-child {
                padding-left:0;
            }
        }
    }

    .sort-btns-container {
        margin-top:6px;
        float:right;
        a {
            float:left;
            margin-left:15px;
            i {
                display: block;
                width:10px;
                height:10px;
                &.icon-list {
                    .sprite(0,-163px);
                }
                &.icon-grid {
                    .sprite(0,-144px);
                }
            }
        }

    }
}