@import '../../vendor/bootstrap/less/bootstrap.less';
@import 'variables.less';



html {
    font-size:62.5%;
    height:100%;
}
body {
    font:15px/1.4em 'proxima_nova_rgregular', Helvetica, Arial, sans-serif;
    color:#444;
    font-weight: normal !important;
}

.wrapper {
	max-width:1300px;
	margin:0 auto;
}

.wrapper-container {
    max-width: 575px;
    width:100%;
    margin:0 auto;
    position:relative;
}

.pull-left {
	float:left;
}

.pull-right {
	float:right;
}

.clearfix {
  clear:both;
}

a {
    text-decoration: none;
    cursor:pointer;
    &:hover {
        text-decoration: none;
    }
}



/*------------------------------------*\
    DROPDOWN
\*------------------------------------*/
.dropdown-menu {
	-moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    min-width:100px;
    border:0;
    padding:0;

    li {
    	border-bottom: solid 1px #dee1e5;
    	height:30px;
		overflow: hidden;
    	&:first-child {
    		border-top-right-radius: 3px;
    		border-top-left-radius: 3px;
    	}
    	&:last-child {
    		border:0;
    		border-bottom-right-radius: 3px;
    		border-bottom-left-radius: 3px;
    	}
    	a {
    		font-size: 0.9em;
    		line-height: 30px;
    		padding: 0 20px;
    		color:#70767f;
    		&:hover {
	    		background:#F9F9F9;
	    		border-bottom:solid 1px #dee1e5;
	    	}
    	}
    }
    &:before {
	    bottom: 100%;
	    right: 18px;
	    border: solid transparent;
	    content: " ";
	    height: 0;
	    width: 0;
	    position: absolute;
	    pointer-events: none;
	    border-color: rgba(136, 183, 213, 0);
	    border-bottom-color: white;
	    border-width: 5px;
	    margin-left: -5px;
    }
}





/*------------------------------------*\
    MODAL
\*------------------------------------*/
.modal {
    background:rgba(0,0,0,0.8);
    .modal-dialog {
        width:575px;
        margin:100px auto;
        border-radius: 3px;
        background-color: #dee1e5;
    }
    .modal-content {
        background-color: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: 0;

        .btn-close {
            cursor: pointer;
            position: absolute;
            top: -23px;
            right: -23px;
            width: 22px;
            height: 22px;
            .sprite(0, -231px);
        }
    }
}





/*------------------------------------*\
    BUTTONS
\*------------------------------------*/
.btn,
button {
	background:none;
	border:0;
	padding:0;
	height:30px;
    font-size: 0.933em;

    &:active:focus,
    &:active.focus,
    &:active, 
    &.active,
    &:hover, 
    &:focus, 
    &.focus {
        outline:0;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-radius: 0;
        border: none;
        color:white;
    }
}



/*------------------------------------*\
    INPUT
\*------------------------------------*/
form {
    textarea.form-control,
	input.form-control {
		background-color:transparent;
		border:0;
        color:white;
		height:30px;
		-webkit-box-shadow: none;
        box-shadow: none;
		&:focus {
			border-color: @ssGreen;
			-webkit-box-shadow: inset 0 1px 1px rgba(0, 178, 134, 0.075), 0 0 4px rgba(0, 178, 134, 0.6);
			box-shadow: inset 0 1px 1px rgba(0, 178, 134, 0.075), 0 0 4px rgba(0, 178, 134, 0.6);
		}
	}
	.form-group {
		margin:0;
	}
}




@import '../app/home/home.less';
@import '../app/directives/main-nav.less';
@import '../app/directives/header.less';
@import '../app/directives/hero.less';
@import '../app/home/create-post.less';

